@page "/edit/author/{IdAuthor:int}"
@model LibraryAspNet.Areas.Editor.Pages.AuthorEditModel
@{
    ViewData["Title"] = "Authors edit page";
}


@if (Model.Data == null)
{
    <p>Author not found</p>
    return;
    }
<h1>@(Model.IdAuthor == 0 ? "New author":"Author editation")</h1>
<form method="post">
    <input type="hidden" asp-for="Data.Id" />
    <div class="form-floating mb-3">
        <input asp-for="Data.Name" type="text" class="form-control" placeholder="."/>
        <label asp-for="Data.Name"></label>
    </div>
        <div class="form-floating mb-3">
        <input asp-for="Data.Surname" type="text" class="form-control" placeholder="."/>
        <label asp-for="Data.Surname"></label>
    </div>
        <div class="form-floating mb-3">
        <input asp-for="Data.YearOfBirth" type="number" class="form-control" placeholder="."/>
        <label asp-for="Data.YearOfBirth"></label>
    </div>
        <div class="form-floating mb-3">
        <input asp-for="Data.YearOfDeath" type="number" class="form-control" placeholder="."/>
        <label asp-for="Data.YearOfDeath"></label>
    </div>
        <div class="form-floating mb-3">
        <textarea asp-for="Data.Biography" style="height: 10rem;" type="text" class="form-control" placeholder="."></textarea>
        <label asp-for="Data.Biography"></label>
    </div>
    <p>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="@(Model.IdAuthor == 0? "/authors":$"/author/{Model.IdAuthor}")" class="btn btn-outline-primary">Cancel</a>
        @if (Model.IdAuthor > 0){
        <button type="button" class="btn btn-danger" onclick="$('#formDelete').trigger('submit')">Delete</button>
        }
    </p>
</form>
@if (Model.IdAuthor > 0)
{<form method="post" asp-page-handler="Delete" id="formDelete">
    <input type="hidden" value="@Model.Data.Id" name="idAuthor"/>
</form>}
